<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="CreationModeOutputLocation" value="Input\CellMatrixData.txt"/>
      <add key="CellMatrixDataLocation" value="Input\CellMatrixData.txt"/>
      <add key="CellMatrixOutputLocation" value="Output\data\CellMatrixOutput{0}.js"/>
      <add key="VisualisationTemplateLocation" value="Output\Template.html"/>
      <add key="CellMatrixDataDefaultSize" value="100"/>
      <add key="CellMatrixDefaultChanceOfAlive" value="20"/>
  </appSettings>
</configuration>
